-i https://pypi.org/simple
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
coloredlogs==14.0
humanfriendly==8.2
idna==2.9
img2pdf==0.3.4
pillow==7.1.1
progress==1.5
prompt-toolkit==1.0.14
pygments==2.6.1
pyinquirer==1.0.3
pyreadline==2.1 ; sys_platform == 'win32'
regex==2020.4.4
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.9
wcwidth==0.1.9
